.main-content {
  padding: 0px 40px 0px 40px;
}

.card {
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
}

.cards-div {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.status {
  text-transform: capitalize;
}

h3 {
  margin-top: 0;
}
