.position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.title {
  padding-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

label {
  padding-bottom: 10px;
}

.input-field {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 7px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 7px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:disabled {
  color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}

.submit-button:disabled:hover {
  background-color: transparent;
  color: gray;
}

.submit-button:hover {
  background-color: white;
  color: black;
}

.register-container {
  margin-top: 10%;
}

.go-to-register {
  text-decoration: none;
  color: white;
}
