<header class="main" id="main">
  <h1
    class="title-text"
    id="title-text"
    routerLink="/home"
  >
    AutoVet
  </h1>

  <nav class="pages" id="pages" aria-label="Main Navigation">

    @if ( isClient ) {
      <button
        class="btn home-btn"
        id="home-btn"
        routerLink="/question"
        routerLinkActive="active"
        aria-current="page"
      >
        Pregunta
      </button>

      <button
        class="btn create-btn"
        id="create-btn"
      >
        Crear incidencia
      </button>

      <button
        class="btn logout-btn"
        id="logout-btn"
        (click)="showMenu()"
      >
        Mi perfil
      </button>

    } @else {

      <button
        class="btn clients-btn"
        id="clients-btn"
        routerLink="/staff/clients"
        routerLinkActive="active"
      >
        Mis clientes
      </button>

      <button
        class="btn appointments-btn"
        id="appointments-btn"
        routerLink="/staff/appointments"
      >
        Incidencias
      </button>

      <button
        class="btn profile-btn"
        id="profile-btn"
        routerLink="/user/profile"
      >
        Mis datos
      </button>

      <button
        class="btn logout-btn"
        id="logout-btn"
        (click)="logOut()"
      >
        Cerrar sesión
      </button>

    }

  </nav>

</header>


@if ( showingMenu ) {
  <div class="menu">
    <button
      class="menu-btn profile-btn"
      id="profile-btn"
      routerLink="/user/profile"
    >
      Mis datos
    </button>

    <button
      class="menu-btn profile-btn"
      id="user-pets-btn"
      routerLink="/user/pets"
    >
      Mis mascotas
    </button>

    <button
      class="menu-btn profile-btn"
      id="user-appoinments-btn"
      routerLink="/user/appointments"
    >
      Mis incidencia
    </button>

    <button
      class="menu-btn logout-btn"
      id="logout-btn"
      (click)="logOut()"
    >
      Cerrar sesión
    </button>
  </div>
}
