<div class="main-content" id="main-content">

  <div class="question" id="question">
    <textarea
      type="text"
      name="prompt"
      id="prompt"
      class="no-resize"
      #promptValue
    ></textarea>

    <button
      class="send-btn pointer"
      id="send-btn"
      (click)="sendPrompt()"
    >
      Preguntar
    </button>
  </div>

  @if ( responseText.length > 0 ) {
    <div class="response" id="response" [innerHTML]="formattedResponse"></div>
  }

</div>

@if ( isLoading ) {
  <div class="modal">
    <div class="modal-content">
      <span class="loader"></span>
      <p class="modal-text">Cargando respuesta...</p>
    </div>
  </div>
}
